<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin-left: 650px;
        }
    </style>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-product/}" method="post" th:object="${product}">
    <input type="hidden" name="id" th:field="*{id}">
    <table class="table-responsive">
        <tr>
            <td>Tên sản phẩm : </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Giá : </td>
            <td><input type="text" th:field="*{price}"></ip></td>
        </tr>
        <tr>
            <td>Số lượng:</td>
            <td><input type="text" th:field="*{num}"></td>
        </tr>
        <tr>
            <td>Màu sắc : </td>
            <td><input type="text" th:field="*{color}"></td>
        </tr>
        <tr>
            <td>Danh muc:</td>
            <td>
                <select th:name="category">
                    <option th:each="p:${categories}"
                            th:value="${p.id}"
                            th:text="${p.name}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Chỉnh sửa">
            </td>

            <a th:href="@{/product}">
                <input type="button" value="Chỉnh sửa" >   </a>

        </tr>





    </table>
</form>

</body>
</html>